body {
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  height: 100vh;
  background-color: #232121;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(200, 49, 49, 1);
  width: 65%;
  border-radius: 50px;
  box-shadow: 10px 10px black;
}


.centralize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


input,
button {
  padding: 44px;
}


input {
  border: none;
  border-radius: 50px;
  box-shadow: 5px 5px 4px #232121;
  margin-bottom: 40px;
  width: 50%;
  height: 10%;
  font-size: 25px;
  font-weight: bold;
  color: #A4A4A4;
}

input::placeholder {
  opacity: 1;
}

input:focus::placeholder {
  opacity: calc(0.3);
}

.button {
  cursor: pointer;
}

button:active {
  opacity: 0.9;
}

input:active {
  opacity: calc(0.9);
}


.login {
  color: white;
  font-size: 80px;
  font-weight: bold;
  text-shadow: 5px 5px 6px #232121;
  margin-top: 20px;
  margin-bottom: 50px;

}

.title {
  color: white;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  text-shadow: 5px 5px black;
  margin-top: 5px;
}



button{
  background: white;
  border: none;
  border-radius: 50px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px #232121;
  width: 25%;
  font-size: 30px;
  padding: 40px;
  cursor: pointer;
}

